# Virtual environment
.venv/
venv/
env/

# Data files (quá lớn cho git)
data/*.csv
data/processed/

# Model checkpoints
detector/*.pt
detector/*.pkl
gan/*.pt
gan/*.npy

# Evaluation outputs
evaluate/*.npy
evaluate/*.json
evaluate/*.csv
evaluate/*.png

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

# Temporal Scripts
restructure.py