# Virtual environment
.venv/
venv/
env/

# Data files (quá lớn cho git)
data/*.csv
data/processed/
!data/processed/X_test.npy
!data/processed/y_test.npy

# Model checkpoints
detector/*.pkl
detector/*.pt
!detector/detector_best.pt
!detector/detector_adv_r1.pt

gan/*.pt
!gan/generator_r0.pt
!gan/generator_r2.pt
gan/*.npy

# Evaluation outputs
evaluate/*.npy
evaluate/*.json
evaluate/*.csv
evaluate/*.png

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb

# Temporal Scripts
restructure.py